.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  border-top: 1px solid #ccc;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1rem;
  color: #555;

  & > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  & > section > .socialLinks {
    display: flex;
    gap: 1rem;
  }

  & > section > p {
    color: black;
    & > a {
      text-decoration: underline;
      color: black;
    }
  }

  & > section .socialLinks > a {
    font-size: 1.5rem;
    color: black;

    &:hover {
      color: #005f99;
    }
  }
}
